@value makerGreen, makerGrey from '../../common/colors.css';

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid makerGrey;
  border-top: 1px solid makerGrey;
  margin-bottom: 1em;
}

.input {
  height: 2.4em;
}

.input,
.textarea,
.select,
.fileInput {
  width: 100%;
  font-size: 1rem;
  border: 0;
  border-right: 1px solid makerGrey;
  border-bottom: 1px solid makerGrey;
}

.input,
.select {
  flex: 1 1 30%;
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%;
}

.fileInput {
  flex: 1 1 50%;
}
