@value makerLightGrey, makerPink, makerLightPink from '../../common/colors.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file {
  display: none;
}

.button {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.button:hover {
  opacity: 0.8;
}

.button.pink {
  background-color: makerLightPink;
}

.button.grey {
  background-color: makerLightGrey;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 3px solid makerLightGrey;
  border-top: 2.5px solid makerPink;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
