@value makerGreen, makerWhite, makerBlack from '../../common/colors.css';

.header {
  width: 100%;
  background-color: makerGreen;
  position: relative;
  text-align: center;
}

.logo {
  padding-top: 0.8em;
}

.title {
  margin: 0;
  padding: 0.3em;
  font-size: 2.5rem;
  color: makerWhite;
}

.logout {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: makerBlack;
  color: makerWhite;
  padding: 0.8em;
  border-radius: 20%;
}
